.field-uploadselectbox .directory {
	margin: 0 12px 7px 12px;
	width: auto;
}
	.field-uploadselectbox .directory select {
		width: auto;
	}
	.field-uploadselectbox .searchable .directory select {
		width: 100%;
	}
.field-uploadselectbox .stage .preview img {
	position: absolute;
	border: 1px solid #CCC;
	top: 5px;
	left: 14px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	cursor: pointer;
}

.field-uploadselectbox .stage .preview .file {
	display: inline-block;
	min-height: 39px;
	margin: 0;
	padding: 7px 14px 7px 66px;
	color: #3F3D35;
	text-decoration: none;
}

.field-uploadselectbox .stage .preview em {
	float: none;
}

.uploader {
	background-color: #333;
}
.plupload_container {
	padding: 0;
}
.stage ul li .uploader span {
	color: #3F3D35;
	display: inline;
	margin: 0px;
	padding: 0;
	text-decoration: none;
	background-image: none;
	cursor: auto;
}
.stage ul li .uploader span:hover {
	background-image: none;
}
.stage ul li .uploader .plupload_upload_status {
	display: none;
}